[include bedfan.cfg]

#####################################################################
#	Fan Control
#####################################################################
[controller_fan MCU]
pin: PA13
max_power: 1
# shutdown_speed: 1
cycle_time: 0.1
kick_start_time: 0.2
off_below: 0.2
fan_speed: 0.9
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
idle_timeout: 60
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
idle_speed: 0.8
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater: heater_bed
stepper: stepper_z
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

[controller_fan pow_supply]
pin: PA14
max_power: 1
cycle_time: 0.1
kick_start_time: 0.5
fan_speed: 0.9
idle_timeout: 60
idle_speed: 0.5
stepper: stepper_x, stepper_y, stepper_z
idle_timeout: 60

[fan_generic nevermore] # [controller_fan nevermore]
##  Exhaust fan - In E2 OUT Positon
pin: PB3
max_power: 1
cycle_time: 0.1
kick_start_time: 0.5

