# [include timelapse.cfg]
# [include mmu/addons/blobifier.cfg]
# [include mmu/addons/mmu_erec_cutter.cfg]
# [include lcd_menu_settings.cfg]
[include mmu/base/*.cfg]
[include mmu/optional/client_macros.cfg]
[include mmu/optional/mmu_ercf_compat.cfg]
# [include mmu/optional/mmu_menu.cfg]
[include shell_command.cfg]
[include mainsail.cfg]
[include machine.cfg]
# [include display.cfg]
[include pa_macro.cfg]
[include macro.cfg]
[include calibration_flow.cfg]
[include HomeAndLevel.cfg]
[include fan.cfg]
[include TEST_SPEED.cfg]
[include KAMP_Settings.cfg]
[include thermistor.cfg]
[include K-ShakeTune/*.cfg]
[include TH_MCU.cfg]
# [include spoolman.cfg]
# [include sb_led.cfg]
[include START_PRINT_END.cfg]
[include sb_ledfx.cfg]

[exclude_object]
# [network_status]

[respond]
default_type: echo

[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    The folder where the results will be stored. It will be created if it doesn't exist.
# number_of_results_to_keep: 3
#    The number of results to keep in the result_folder. The oldest results will
#    be automatically deleted after each runs.
# keep_raw_csv: False
#    If True, the raw CSV files will be kept in the result_folder alongside the
#    PNG graphs. If False, they will be deleted and only the graphs will be kept.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for "system" macros that are not in the
#    printer.cfg file. If you want to see the macros in the webui, set this to True.
# timeout: 300
#    The maximum time in seconds to let Shake&Tune process the CSV files and generate the graphs.


[idle_timeout]
timeout: 300

# This file contains common pin mappings for the Fysetc Spider board.
# To use this config, the firmware should be compiled for the STM32F446.
# When calling "menuconfig", enable "extra low-level configuration setup"
# and select the "12MHz crystal" as clock reference
# For flashing, write the compiled klipper.bin to memory location 0x08000000

[mcu] # FYSETC SPIDER V2.2 VORON 2.4R2 WIRING
## Uncomment below if you're using the Raspberry uart0 to communicate with Spider
#restart_method: command
##  You need to select 'Communication interface' to USB in 'make menuconfig'
##  when you compile Klipper for Spider
##	Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1F0047001851303439363932-if00

[printer]
kinematics: corexy
max_velocity: 370  
max_accel: 10000	        #Max 4000
minimum_cruise_ratio: 0.5
max_z_velocity: 12			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 42.479
#*# pid_ki = 2.162
#*# pid_kd = 208.680
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.434
#*# pid_ki = 1.764
#*# pid_kd = 65.106
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 53.6
#*# damping_ratio_x = 0.055
#*# shaper_type_y = mzv
#*# shaper_freq_y = 38.3
#*# damping_ratio_y = 0.053
#*#
#*# [probe]
#*# z_offset = -0.540
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.042205, 0.009045, 0.000295, -0.015955, -0.092205, -0.134705, -0.054705
#*# 	  0.026545, 0.052795, 0.037795, -0.019705, -0.099705, -0.099705, -0.069705
#*# 	  0.026545, 0.059045, 0.051545, -0.007205, -0.060955, -0.077205, -0.059705
#*# 	  0.005295, 0.082795, 0.032795, -0.003455, -0.097205, -0.099705, -0.037205
#*# 	  -0.013455, 0.080295, 0.054045, -0.008455, -0.083455, -0.099705, -0.088455
#*# x_count = 7
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 16.0
#*# max_x = 296.86
#*# min_y = 57.0038
#*# max_y = 243.36380000000003
